@model List<FamilyFishMVC.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<section class="wrapper">
    <div class="inner">
        <div class="row">
            @foreach (var customer in Model)
            {
                <table>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Home Phone</th>
                        <th>Cell Phone</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip</th>
                    </tr>
                    <tr>
                        <td>@customer.Fname</td>
                        <td>@customer.Lname</td>
                        <td>@customer.Email</td>
                        <td>@customer.HPhone</td>
                        <td>@customer.CPhone</td>
                        <td>@customer.StreetNum @customer.StreetName</td>
                        <td>@customer.City</td>
                        <td>@customer.State</td>
                        <td>@customer.Zip</td>
                    </tr>
                </table>
            }
        </div>
    </div>
</section>
