@model FamilyFishMVC.Models.Product

@{
    ViewBag.Title = "Details";
}
<section class="wrapper">
    <div class="inner">
        @if (User.IsInRole("Admin"))
        {
            <div class="col-md-4" align="center">
                <h2>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
                </h2>
            </div>
        }
        <div class="center-block" align="center">
            <table class="alt" style="text-align: center">
                <tr>
                    <td colspan="2">
                        <img src="@Url.Content(Model.GetImagePath(new HttpContextWrapper(HttpContext.Current)))" alt="" height='270' />
                    </td>
                </tr>
                <tr>
                    <td><h3>Name: </h3></td>
                    <td>
                        <h3>@Html.DisplayFor(model => model.Name)</h3>
                    </td>
                </tr>
                <tr>
                    <td><h3>Product Type: </h3></td>
                    <td>
                        <h3>
                            @foreach (var item in Model.Categories)
                            {
                                @: @item.Name
                            }
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td><h3>Price: </h3></td>
                    <td><h3>$ @Html.DisplayFor(model => model.Price)</h3></td>
                </tr>
            </table>
            
            <h4 >
                @if (Request.IsAuthenticated)
                {
                    <a href="#" onclick="$('#purchase').submit()">Buy |</a>
                }
                @Html.ActionLink("Back to Products", "Index")
            </h4>
        </div>
    </div>
</section>

<form id="purchase" style="display: none" action="@Url.Action("AddToCart", "Orders", new { id = Model.Id })" method="post"></form>

